* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 2;
    top: 0;
}

.nav-itens-pai a {
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem;
}

.ativo {
    background-color: #AB136A;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
}

.nav-itens {
    color: #AB136A;
}

.logo {
    width: 10%;
}

.navbar {
    background-color: white;
}

.carousel {
    z-index: 1;
}

.carousel-item img {
    border-radius: 0px 0px 2rem 2rem;
    margin-top: 0;
}

.orquideas {
    width: 100vw;
    max-width: 100%;
    position: fixed;
    z-index: 0;
    margin-top: -42%;

}

.produtos {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1.5rem;
    z-index: 1;
    position: relative;
    font-size: 2rem;

}

.produtos p {

    background-color: #AB136A;
    border-radius: 2rem;
    padding: 0.5rem 12rem;
    color: white;

}

.rodapeitens {

    max-height: -webkit-fill-available;
    height: 100%;
    position: absolute;
    margin-top: 1.5rem;
    width: 100%;
    margin-right: 10rem;
    margin-left: 10rem;
    text-align: center;
    max-width: 100%;

}

footer {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.textorodape {
    color: white;
}

.logorodape {
    width: 30%;
}

body {
    margin: 0;
    background-color: #FFEDE9;
}

main {
    width: 100%;
    padding: 0;
    background-color: #FFEDE9;
    margin-bottom: 0;
    justify-content: center;
    background-color: #FFEDE9;

}

.titulo {
    color: #AB136A;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4.5vw;
}

.textoPC {
    text-indent: 50px;
    text-align: justify;
    justify-content: center;
    display: flex;
    padding: 0.25rem;
    color: #AB136A;
    font-size: 2.2vw;

}

.textoMOBILE {
    display: none;
}

.conteiner {
    padding: 0% 15% 0% 15%;
    margin: 2em 0 0 0;

}

.secaoIMG {
    display: none;
}

.imagensPC img {
    width: 14vw;
    height: auto;
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 2vw;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.imagensPC {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.br400 {
    display: none;
}


@media only screen and (max-width: 900px) {

    .logo {
        width: 15%;
    }

    .produtos {

        margin-top: -1.5rem;
        z-index: 1;
        position: relative;
        font-size: 1rem;

    }

    .produtos p {

        background-color: #AB136A;
        border-radius: 2rem;
        padding: 0.5rem 7rem;
        color: white;

    }

    .imagensPC img {
        width: 14vw;
        height: auto;
        margin: 0.5vw;
        margin-bottom: 0;
        border-radius: 2vw;
        margin-bottom: 1vw;
        z-index: 1;
    }

    .imagensPC {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 1;
    }

}

@media only screen and (max-width: 600px) {

    .nav-itens-pai a {
        font-size: 0.8rem;
        margin: 0.2rem;
    }

    .conteiner {
        margin-top: 0;
    }

    .ativo {
        border-radius: 0.3rem;
        padding: 0.3rem;
    }

    .logo {
        width: 20%;
    }

    .textorodape {

        font-size: 0.5rem;

    } 

    .rodapeitens {
        margin-top: 0.7rem;
    }

    .produtos {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: small;
    }

    .produtos {

        margin-top: -1.5rem;
        margin-bottom: 0;
        z-index: 1;
        position: relative;
        font-size: 1rem;

    }

    .produtos p {

        background-color: #AB136A;
        border-radius: 2rem;
        padding: 0.5rem 5rem;
        color: white;

    }

    .textoMOBILE {
        text-indent: 18px;
        text-align: center;
        display: flex;
        padding: 0.25rem;
        color: #AB136A;
        font-size: 3vw;
    }

    .textoPC {
        display: none;
    }

    .titulo {
        color: #AB136A;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }

    strong {
        display: contents;
    }

    .linha {
        display: flex;
        justify-content: space-between;
    }

    .imagensPC {
        display: none;
    }

    .secaoIMG img {
        width: 30vw;
        height: auto;
        margin: 1vw;
        margin-bottom: 0;
        border-radius: 5vw;
        margin-bottom: 10px;
    }

    .secaoIMG {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 5;
    }

    br {
        display: none;
    }

    .brObjetivo {
        display: flex;
    }

}

@media only screen and (max-width: 400px) {

    .nav-itens-pai a {
        font-size: 0.7rem;
        margin: 0.2rem;
    }

    .carousel-item img {
        border-radius: 0px 0px 0.5rem 0.5rem;
        margin-top: 3rem;
    }


    .ativo {
        border-radius: 0.2rem;
        padding: 0.2rem;
    }

    .logo {
        width: 20%;
    }


    .produtos {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: small;
    }

    .produtos {

        margin-top: -1.5rem;
        z-index: 1;
        position: relative;
        font-size: 1rem;

    }

    .produtos p {

        background-color: #AB136A;
        border-radius: 2rem;
        padding: 0.5rem 5rem;
        color: white;

    }

    .secaoIMG {
        display: flex;
        justify-content: center;
        z-index: 5;
    }

    .textoMOBILE {
        font-size: 4vw;
    }

    .titulo {
        font-size: 6.5vw;
    }

    .br400 {
        display: block;
    }
}

@media only screen and (max-width: 380px) {

    .produtos {
        font-size: 0.7rem;
    }

    .produtos p {

        background-color: #AB136A;
        border-radius: 2rem;
        padding: 0.5rem 3rem;
        color: white;

    }

    .titulo {
        font-size: 6vw;
    }

    .textoMOBILE {
        font-size: 3.5vw;
    }

}

@media only screen and (max-width: 340px) {
    .orquideas {
        display: none;
    }

    .titulo {
        font-size: 7vw;
    }

    .textoMOBILE {
        font-size: 3.5vw;
        text-align: justify;
    }
}


@media only screen and (max-width: 320px) {
    .textoMOBILE {
        font-size: 4vw;
    }

    .titulo {
        font-size: 6.5vw;
    }
}